* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Rubik, sans-serif;
  background-color: #eef0f4;
}

body {
  margin: 10rem auto;
  width: 33rem;
  
}

#container {
  max-width: 33rem;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin: 2rem;
  border: .3rem solid black;
  border-radius: 2rem;
}

img {
  width: 15rem;
  margin: 0 auto;
}

#input-field {
  color: #432000;
  background-color: #dce1eb;
  margin: 2rem 0;
  padding: 1rem 0;
  font-size: 2rem;
  border-radius: .75rem;
  border: none;
  font-family: Rubik, sans-serif;
  text-align: center;
}

#add-btn {
  color: #fdfdfd;
  background-color: #ac485a;
  padding: 1rem 0;
  font-family: Rubik, sans-serif;
  font-size: 2rem;
  border-radius: .75rem;
  border: none;
}

