* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Monoid, sans-serif;
  background: #6382aa;
  user-select: none;
}

body {
  margin: 10rem auto;
  width: 33rem;
  
}

#container {
  max-width: 33rem;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin: 2rem;
  border: .3rem solid black;
  border-radius: 2rem;
  background-image: linear-gradient(#d8cf6b, #6382aa);
}

figure {
  display: flex;
  flex-direction: column;
  background: transparent;
}

img {
  width: 18rem;
  margin: 2rem auto;
  border-radius: .75rem;
  border: .2rem solid black;
  box-shadow: .1rem .1rem 1rem .1rem rgb(54, 60, 86);

}

figcaption {
  text-align: center;
  font-size: 1rem;
  font-weight: bolder;
  text-shadow: .1rem .1rem .5rem white;
  padding: 0 1rem 1rem 1rem;
  background: transparent;
}

.italics {
  font-style: italic;
  background: transparent;
}

#input-field {
  color: #432000;
  background-color: #dce1eb;
  margin: 1rem 0;
  padding: 1rem 0;
  font-size: 1.5rem;
  border-radius: .75rem;
  border: none;
  font-family: Monoid, sans-serif;
  text-align: center;
}

#add-btn {
  color: #fdfdfd;
  background-color: #9e9a57;
  padding: 1rem 0;
  font-family: Monoid, sans-serif;
  font-size: 1.5rem;
  border-radius: .75rem;
  border: none;
  margin: 1rem 0;
  text-shadow: .1rem .1rem 1rem black;
}

#add-btn:hover {
  background-color:rgb(21, 25, 74);
  cursor: pointer;
}

ul {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
  background: transparent;
}
ul li {
  list-style: none;
  background-color: rgb(255, 251, 251);
  font-family: Monoid, sans-serif;
  font-size: 1.5rem;
  border-radius: .75rem;
  flex-grow: 1;
  text-align: center;
  padding: 1rem;
  box-shadow: 0 .1rem .2rem rgba(0, 0, 0, 0.2);
}

ul li:hover {
  background-color: rgb(241, 227, 149);
  cursor: pointer;
}

#list-placeholder {
  margin: 2rem auto;
  font-size: 1.2rem;
  text-shadow: .1rem .1rem .3rem white;
  color: #1a1b1d;
  background: transparent;
}